* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;
}

/* HEADER */
header {
    text-align: center;
    padding: 80px 20px;
    background: olive;
}

header h1 {
    font-size: 42px;
}

.highlight {
    color: #facc15;
}

header p {
    margin: 15px 0;
    font-size: 18px;
}

.btn {
    padding: 12px 28px;
    background: #facc15;
    color: #0f172a;
    border: none;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

/* NAV */
nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    background: #020617;
}

nav a {
    color: #c7d2fe;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #facc15;
}

/* SECTIONS */
section {
    padding: 60px 10%;
}

section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
    color: #a5b4fc;
}

/* SKILLS */
ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    list-style: none;
}

ul li {
    background: #1e293b;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

ul li:hover {
    transform: translateY(-5px);
    background: #334155;
}

/* PROJECTS */
.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.project-card {
    background: #1e293b;
    padding: 25px;
    border-radius: 15px;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    border-left: 4px solid #6366f1;
}

/* CONTACT */
button {
    margin-top: 15px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    color: #94a3b8;
}

